Repository cuihairu/epoch: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, java, dotnet, go, node, python

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 0
    patch:
      default:
        target: 0

flags:
  cpp:
    paths:
      - cpp/
  java:
    paths:
      - java/
  dotnet:
    paths:
      - dotnet/
  go:
    paths:
      - go/
  node:
    paths:
      - node/
  python:
    paths:
      - python/

Add git attributes for line endings
  .gitattributes
Due: none

Fix pnpm setup in docs workflow
  .github/workflows/docs.yml
Due: none

Use ESM VuePress config
  docs/.vuepress/config.js
Due: none

Deploy docs to GitHub Pages
  .github/workflows/docs.yml
  docs/.vuepress/config.js
Due: none

Fix VuePress build dependencies
  .gitignore
  docs/.vuepress/config.js
  package.json
  pnpm-lock.yaml
Due: none

Improve test coverage across languages
  cpp/tests/epoch_vector_test.cpp
  dotnet/Epoch.Tests/VectorTests.cs
  go/epoch_test.go
  java/src/test/java/io/epoch/VectorTestMain.java
  node/test/version.test.js
  python/tests/test_version.py
Due: cpp, java, dotnet, go, node, python

Add Codecov token to coverage uploads
  .github/workflows/build-cpp.yml
  .github/workflows/build-dotnet.yml
  .github/workflows/build-go.yml
  .github/workflows/build-java.yml
  .github/workflows/build-node.yml
  .github/workflows/build-python.yml
Due: none

Move design doc into docs directory
  README.md
  epoch_actor_design_doc.md
Due: none

Fix Codecov path mapping for flags
  codecov.yml
Due: none

Fix Go module tracking and .NET detection
  .github/workflows/build-dotnet.yml
  .gitignore
  go/go.mod
Due: go

Add pluggable ActorId codec
  cpp/CMakeLists.txt
  cpp/include/epoch/actor_id.h
  cpp/src/actor_id.cpp
  cpp/tests/epoch_vector_test.cpp
  docs/guide/epoch-actor-design.md
  docs/guide/protocol.md
  dotnet/ActorId.cs
  dotnet/Epoch.Tests/VectorTests.cs
  go/actor_id.go
  go/epoch_test.go
  java/src/main/java/io/epoch/ActorId.java
  java/src/test/java/io/epoch/VectorTestMain.java
  node/actor-id.js
  node/index.js
  node/test/version.test.js
  python/epoch/__init__.py
  python/epoch/actor_id.py
  python/tests/test_version.py
Due: cpp, java, dotnet, go, node, python

Add QoS priority field to messages
  cpp/include/epoch/engine.h
  cpp/src/engine.cpp
  cpp/tests/epoch_vector_test.cpp
  docs/guide/behavior.md
  docs/guide/epoch-actor-design.md
  docs/guide/protocol.md
  dotnet/Engine.cs
  dotnet/Epoch.Tests/VectorTests.cs
  go/epoch.go
  go/epoch_test.go
  java/src/main/java/io/epoch/Engine.java
  java/src/test/java/io/epoch/VectorTestMain.java
  node/index.js
  node/test/version.test.js
  python/epoch/engine.py
  python/tests/test_version.py
Due: cpp, java, dotnet, go, node, python

Document Aeron integration plan
  docs/guide/protocol.md
  docs/guide/transport-aeron.md
Due: none

Add Aeron transport stubs
  cpp/CMakeLists.txt
  cpp/include/epoch/aeron_transport.h
  cpp/src/aeron_transport.cpp
  docs/guide/protocol.md
  dotnet/AeronTransport.cs
  go/aeron_transport.go
  java/src/main/java/io/epoch/AeronTransport.java
  node/index.js
  python/epoch/__init__.py
  python/epoch/aeron_transport.py
Due: cpp, java, dotnet, go, node, python

Switch Node to TypeScript build
  .gitignore
  node/package.json
  node/src/actor-id.ts
  node/src/index.ts
  node/test/version.test.js
  node/tsconfig.json
Due: node

Use pnpm for Node build
  .github/workflows/build-node.yml
  node/package.json
  node/pnpm-lock.yaml
Due: node

Implement Java Aeron transport
  .gitignore
  docs/guide/transport-aeron.md
  java/scripts/fetch-aeron.sh
  java/scripts/run-coverage.sh
  java/scripts/run-tests.sh
  java/src/main/java/io/epoch/AeronMessageCodec.java
  java/src/main/java/io/epoch/AeronTransport.java
Due: java

Add Aeron transport config and stats
  docs/guide/transport-aeron.md
  java/src/main/java/io/epoch/AeronTransport.java
Due: java

Add embedded driver support for Aeron
  docs/guide/transport-aeron.md
  java/scripts/fetch-aeron.sh
  java/src/main/java/io/epoch/AeronTransport.java
Due: java

feat: integrate Aeron native bindings
  .github/workflows/build-cpp.yml
  .github/workflows/build-go.yml
  .gitignore
  .gitmodules
  README.md
  cpp/include/epoch/aeron_transport.h
  cpp/src/aeron_transport.cpp
  docs/guide/languages/cpp.md
  docs/guide/languages/dotnet.md
  docs/guide/languages/go.md
  docs/guide/languages/node.md
  docs/guide/languages/python.md
  docs/guide/transport-aeron.md
  dotnet/AeronTransport.cs
  dotnet/Epoch.Tests/AeronTests.cs
  go/aeron_transport.go
  go/aeron_transport_test.go
  native/CMakeLists.txt
  native/build.sh
  native/include/epoch_aeron.h
  native/src/epoch_aeron.c
  node/package.json
  node/pnpm-lock.yaml
  node/src/aeron-native.ts
  node/src/index.ts
  node/test/aeron.test.js
  python/epoch/__init__.py
  python/epoch/aeron_transport.py
  python/tests/test_aeron_frame.py
Due: cpp, dotnet, go, node, python

Fix go/node coverage path normalization
  .github/workflows/build-go.yml
  node/package.json
  node/scripts/normalize-coverage.js
  node/tsconfig.json
Due: node

Improve Go Aeron tests and coverage
  go/aeron_transport.go
  go/aeron_transport_stub_test.go
  go/codec_extra_test.go
  go/epoch_test.go
Due: go

Improve C++/Java Aeron tests and coverage
  .gitignore
  cpp/CMakeLists.txt
  cpp/include/epoch/aeron_transport.h
  cpp/src/aeron_transport.cpp
  cpp/tests/aeron_transport_test.cpp
  cpp/tests/core_test.cpp
  java/scripts/run-coverage.sh
  java/scripts/run-tests.sh
  java/src/main/java/io/epoch/AeronTransport.java
  java/src/test/java/io/epoch/VectorTestMain.java
Due: cpp, java

Build C++ on Linux/macOS/Windows
  .github/workflows/build-cpp.yml
Due: none

Add nightly build and release workflow
  .github/workflows/nightly.yml
Due: none

Grant release permissions for nightly workflow
  .github/workflows/nightly.yml
Due: none

Document nightly release artifacts
  README.md
  docs/guide/languages.md
Due: none

Adjust Go nightly artifacts and Windows cgo flags
  .github/workflows/nightly.yml
  README.md
  docs/guide/languages.md
  go/aeron_transport.go
Due: go

Fix native build failures across platforms
  .github/workflows/nightly.yml
  native/CMakeLists.txt
Due: none

Fix Windows PowerShell error in C++ workflow
  .github/workflows/build-cpp.yml
Due: none
